// fill out your matrix code
{
  "A": ["", "", "", "", "", "", ""],
  "B": ["", "", "", "", "", "", ""],
  "C": ["", "", "", "", "", "", ""],
  "D": ["", "", "", "", "", "", ""],
  "E": ["", "", "", "", "", "", ""],
  "F": ["", "", "", "", "", "", ""],
  "G": ["", "", "", "", "", "", ""],
  "H": ["", "", "", "", "", "", ""],
  "I": ["", "", "", "", "", "", ""],
  "J": ["", "", "", "", "", "", ""]
}
